In [3]:
import pandas as pd

!wget https://course.ccs.neu.edu/cs6220/lecture-labs/lecture-3/abalone.csv

--2023-02-02 03:00:19--  https://course.ccs.neu.edu/cs6220/lecture-labs/lecture-3/abalone.csv
Resolving course.ccs.neu.edu (course.ccs.neu.edu)... 129.10.117.35
Connecting to course.ccs.neu.edu (course.ccs.neu.edu)|129.10.117.35|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 191962 (187K) [text/csv]
Saving to: ‘abalone.csv’

abalone.csv         100%[===================>] 187.46K  --.-KB/s    in 0.04s

2023-02-02 03:00:20 (4.46 MB/s) - ‘abalone.csv’ saved [191962/191962]

# Read in Abalone data

In [21]:
df = pd.read_csv("abalone.csv")  #read data from the file. Check the download data first
df#show the date we have

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [54]:

data = df.loc[:,df.columns != "Sex"].to_numpy()

import numpy as np
cov = np.cov(data.T) # calculate the covirance, form the data as sex
data.shape

(4177, 8)

In [52]:
data1 = df.loc[:,df.columns != "Rings"].to_numpy()
import numpy as np
data1.shape
#cov1 = np.cov(data1.T) # calculate the covirance
# the question is the rings is integer, need to consider how to form as integer index.

(4177, 8)

In [35]:
eigval,eigvec = np.linalg.eig(cov) # calculate the eigval and eigvectors

In [34]:
cov.shape

(8, 8)

In [30]:
data.shape

(4177, 8)

# Explore the data

In this lab, you're going to drop features and scatter the points after projecting along 2 principle components axes.

For example, you may drop columns in `Pandas` by typing 


1. Prune the data. Drop columns `Sex` and/or `Rings`. \
   ```matrix = df.loc[:, df.columns != "Sex"]```

1. Calculate the covariance matrix. You can calculate the covariance matrix via: \
   $$Cov(X_i, X_j) = \mathbb{E}[(X_i - \mu_{x_i})(X_j - \mu_{x_j})^T]$$

1. Calculate the first two components of PCA. You can feel free to use `np.linalg.eig`.

1. Verify the principle components. To calculate PCA, feel free to use the PCA function from `scikit.learn`. \

  ```
  from sklearn.decomposition import PCA
  # Two components of PCA
  pca = PCA(2)

  # Fit on data
  pca.fit(A)

  # Access values and vectors
  print(pca.components_)
  print(pca.explained_variance_)

  # transform data
  B = pca.transform(A)
  print(B)
  ```

1. Scatter the data to view it in two dimensions

In [41]:
from sklearn.decomposition import PCA
# Two components of PCA
pca = PCA(2)

# Fit on data
pca.fit(A)

# Access values and vectors
print(pca.components_)
print(pca.explained_variance_)

# transform data
B = pca.transform(A)
print(B)

NameError: ignored

#1. Prune the data. Drop columns Sex and/or Rings.

In [10]:
matrix = df.loc[:, df.columns != "Sex"]
matrix = df.loc[:,df.columns != "Rings"]

2.Calculate the covariance matrix.

In [12]:
matrix.describe()
#df.printSchema()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000

In [42]:
#import numpy as np
#import matplotlib.pyplot as plt
#gaussian_axes = np.array([[23, 23], [1, -1]])
#points = np.random.randn(1000, 2) @ gaussian_axes

#plt.scatter(points.T[0], points.T[1])

#plt.quiver(*np.array([[0, 0],[0, 0]]), [-1, 4], [1,4], color=['r','k'], scale=21)

In [20]:
Cov = np.sqrt(points.T @ points) / 1000
print(Cov)

[[0.73240878 0.72984501]
 [0.72984501 0.72970518]]

3. Calculate the first two components of PCA. You can feel free to use np.linalg.eig.